@import "../../scss/variables";

.codemirrorElement {
    background: transparent;
    resize: none;
    border: 0;
}

.CodeMirror {
    background: $color-navigation;
    color: $color-text;
    height: auto;

    .CodeMirror-cursor {
        border-left: 2px solid $color-white;
    }

    .CodeMirror-activeline-background {
        background: lighten($color-navigation, 5%);
    }

    .CodeMirror-selected {
        background: lighten($color-navigation, 10%);
    }

    .CodeMirror-gutters {
        background: $color-navigation;
    }

    .CodeMirror-linenumber {
        color: $color-text-secondary;
    }

    .cm-comment {
        color: $color-text-disabled;
    }

    .cm-string {
        color: #e6db74;
    }

    .cm-number {
        color: #66d9ef;
    }

    .cm-atom {
        color: #66d9ef;
    }

    .cm-keyword {
        color: #f92672;
    }

    .cm-variable {
        color: #a6e22e;
    }

    .cm-def {
        font-style: italic;
        color: #FD971F;
    }

    .cm-variable-2 {
        color: #f92672;
    }

    .cm-property {
        color: #66d9ef;
    }

    .cm-operator {
        color: #A6A5A5;
    }
}