$font-size: 14px;
$font-family: 'Inter', Helvetica, Arial, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-family-mono: 'JetBrains Mono', Consolas, monospace;
