$navigation-width: 280px;
$preview-width: 800px;
$preview-height: 600px;
$app-min-width: $navigation-width + $preview-width;
$header-height: 48px;
$breakpoint-desktop: 1120px;
$breakpoint-large: 1440px;
