@keyframes dashLoading {
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}

.loadingIndicator {
    width:  100px;
    height:  100px;
    position: relative;
    display: inline-block;
}

.centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.spinner {
    width:  100px;
    height:  100px;
    animation: spin 3s linear infinite;
    position: relative;
}

.path {
    animation: dashLoading 1.5s ease-in-out infinite;
    fill: rgba(0, 0, 0, 0);
    stroke: #FFFF00;
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    stroke-width: 6;
    stroke-miterlimit: 20;
    stroke-linecap: round;
}