@import "../../scss/variables";

.navigation-link {
    transition: background-color 120ms cubic-bezier(0, 0, 0.2, 1);
    padding: 0 16px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    -webkit-tap-highlight-color: $color-transparent;
    font-weight: $font-weight-regular;
    color: $color-text;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    display: block;
    width: 100%;

    &:hover {
        background-color: rgba($color-white, 0.12);
    }

    &:active {
        background-color: rgba($color-white, 0.18);
    }
}