@use "../styles/variables" as *;

:host {
  display: block;
  width: calc(var(--canvas-w, #{$preview-width}) * var(--preview-zoom, 1));
  height: calc(var(--canvas-h, #{$preview-height}) * var(--preview-zoom, 1));
  position: relative;
}

.preview {
  width: var(--canvas-w, 100%);
  height: var(--canvas-h, 100%);
  border: 0;
  zoom: var(--preview-zoom, 1);
}
