:host {
    min-height: 64px;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.title {
    font-weight: 500;
    line-height: 1.3;
    flex: 1 0 auto;
}

::slotted(my-button) {
}

::slotted([data-role="toolbar-status"]) {
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.62);
    font-size: 12px;
}
