@import "scss/colors";
@import "scss/typography";

:global {
    html {
        font-size: $fontSize;
        font-family: $fontFamily;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        font-size: $fontSize;
        color: $textColor;
        font-weight: $fontWeightRegular;
        background-color: $bodyColor;
        background-size: cover;
        line-height: 20px;
        margin: 0;
    }
}
