$transparent: rgba(0, 0, 0, 0);
$white: #FFFFFF;
$black: #000;
$codGray: #131313;
$mineShaft: #232323;
$silver: #CCCCCC;
$yellow: #FFFF00;

$bodyColor: $codGray;
$navigationColor: $mineShaft;
$textColor: $white;
$textSecondaryColor: rgba($white, 0.70);
$textDisabledColor: rgba($white, 0.30);