@import "variables";

* {
    box-sizing: border-box;
}

html {
    font-size: $font-size;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}

body {
    font-size: $font-size;
    color: $color-text;
    font-weight: $font-weight-regular;
    background: $color-body;
    background-size: cover;
    line-height: 20px;
    min-height: 100%;
    margin: 0;
}

canvas {
    display: block;
}

img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

a {
    color: $color-text;
}

b {
    font-weight: $font-weight-medium;
}

strong {
    font-weight: $font-weight-bold;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border: 0 none;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border: 0 none;
    border-radius: 0;
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track:active {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
    background: transparent;
}


.CodeMirror {
    background: $color-navigation;
    color: $color-text;
    height: auto;

    .CodeMirror-cursor {
        border-left: 2px solid $color-white;
    }

    .CodeMirror-activeline-background {
        background: lighten($color-navigation, 5%);
    }

    .CodeMirror-selected {
        background: lighten($color-navigation, 10%);
    }

    .CodeMirror-gutters {
        background: $color-navigation;
    }

    .CodeMirror-linenumber {
        color: $color-text-secondary;
    }

    .cm-comment {
        color: $color-text-disabled;
    }

    .cm-string {
        color: #e6db74;
    }

    .cm-number {
        color: #66d9ef;
    }

    .cm-atom {
        color: #66d9ef;
    }

    .cm-keyword {
        color: #f92672;
    }

    .cm-variable {
        color: #a6e22e;
    }

    .cm-def {
        font-style: italic;
        color: #FD971F;
    }

    .cm-variable-2 {
        color: #f92672;
    }

    .cm-property {
        color: #66d9ef;
    }

    .cm-operator {
        color: #A6A5A5;
    }
}
